<?php
namespace Dmm\Tests;

class DmmTestCredentials {
  /**
   * These must be filled out with valid Dmm credential details for the tests to run.
   * You can also use environment variables for test.
   * Affiliate ID: DMM_TEST_AFFILIATE_ID
   * API ID:       DMM_TEST_API_ID
   */
  public static $affiliateId = '';
  public static $apiId = '';
}

